Flask==3.0.2
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.6.0
FastAPI==0.110.0
Uvicorn==0.27.1
SQLAlchemy==2.0.27
Requests==2.31.0
Gunicorn==21.2.0
TextBlob==0.17.1
pandas==2.2.1
numpy==1.26.4
scikit-learn==1.4.2
schedule==1.2.1
Flask-SQLAlchemy==3.1.1